* {
  /*border: 1px solid red;*/
}

.App {
  height: 100vh;
  background:#E0E5EC;
  background-image: url(./cover.jpg);
  display: flex;
  flex-wrap: wrap;
}

select {
  width: 100px;
  height: 28px;
}

label {
  display: inline-block;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

article {
  display: flex;
  flex-direction: column;
}

h2 {
  color: red;
  font-size: 28px;
}





