.App {
  text-align: center;
  height: 100vh;
  background: lightgrey;
  padding: 20% 0;
}

/** {
  border: 1px solid red;
}*/

.box {
  width: 650px;
  height: 150px;
  border: 1px solid green;
  background: red;
}

form {
  max-width: 60%;
  height: 130px;
  background: #f7ce3e;
  margin: 0 auto;
}

input {
  display: inline-block;
  float: left;
  width: 100px;
  height: 28px;
}

select {
  width: 100px;
  height: 28px;
}

label {
  display: inline-block;
  float: left;
}

button {
  background: #1a2930;
  width: 130px;
  height: 130px;
  float: right;
  font-size: 28px;
  color: #ffffff;
}

article {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

h2 {
  color: red;
  font-size: 28px;
}




