form {
  max-width: 77%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_container {
  height: 145px;
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f7ce3e;
  box-shadow: 9px 9px 16px rgb(0,0,0,0.4), -9px -9px 16px
  rgba(0,0,0, 0.5);
  padding-left: 25px;
  border-radius: 10px;
  margin-top: 23%;
}

.form_input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: left;
	margin-right: 6%;
}

input {
	display: inline-block;
  display: flex;
  align-content: center;
  float: left;
  width: 180px;
  height: 28px;
}

.main_button {
  background: #0a1612;
  width: 145px;
  height: 145px;
  float: right;
  font-size: 28px;
  color: #ffffff;
  border: none;
  border-radius: 0 10px 10px 0;
}

select {
  display: flex;
  align-content: center;
  float: left;
  width: 180px;
  height: 28px;
  border-radius: 0px;
}

a {
	display: inline-block;
	text-decoration: none;
}

.error_box {
  border: 2px solid red;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 25%;
  margin-top: 4%;
  max-width: 98%
}

.error_text {
  color: red;
}

