* {
	/*color: blue;*/
}

.nav_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nav_button {
	width: 125px;
	height: 70px;
	font-size: 18px;
	background: #7E8A9A;
	color: #ffffff;
	text-align: center;
}

h1 {
	color: #7E8A9A;
}

.nav_signoff-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: #E0E5EC;
	color: #f7ce3e;
}
