* {
	/*color: blue;*/
}

.nav_container {
	border: 1px solid green;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nav_button {
	width: 125px;
	height: 70px;
	font-size: 18px;
	background: #f7ce3e;
	color: #1a2930;
}

h1 {
	color: #ffffff;
}

.nav_signoff-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background: #1a2930;
	color: #f7ce3e;
}
